.wrapper {
  display: flex;
  margin: 15px auto;
  max-width: 1000px;
}

.wrapper .hotels-list {
  padding: 0 10px;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .wrapper .w-100 {
    width: 100%;
  }
}